@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: "line";
  }
}
@font-face {
  font-family: line;
  src: url(/fonts/LINESeed_Bd.woff2) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: line;
  src: url(/fonts/LINESeed_Th.woff2) format("truetype");
  font-weight: lighter;
}
@font-face {
  font-family: line;
  src: url(/fonts/LINESeed_Rg.woff2) format("truetype");
  font-weight: normal;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: line;
  font-weight: bold;
}